﻿@{
    ViewData["Title"] = "Pizza Palace";
}
<h2>Pizza Palace</h2>

<p>
    Pizza Palace is an application for people who like pizza and are interested in the
    quality of ingredients we provide at this location. For people that are registered there
    is an option to view current members of our loyalty program.
    <div class="row">
        <img src="~/images/pizza2.jpg" alt="another pizza pie" asp-append-version="true"
             class="float-left img-fluid col-sm-4 shadow rounded-sm" style="width:100%" />
    </div>
