﻿@{
    ViewData["Title"] = "Pizza Palace";
}
<div class="jumbotron shadow" style="background-color:whitesmoke;border-radius:30px;">
    <h2>Pizza Palace</h2>
    <h3>Can't decide on dinner? Let us handle it!</h3>
</div>

<address>
    <i class="fa fa-envelope" style="font-size:24px"></i>
    514 Munson Ave<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">P:</abbr>
    231.342.SHOW
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@PizzaPalace.com">Support@PizzaPalace.com</a><br />
</address>
