﻿@{
    ViewData["Title"] = "Pizza Palace";
}

<div class="jumbotron shadow" style="background-color:whitesmoke;border-radius:10px;">
    <h1>Pizza Palace</h1>
    <p class="lead">
        This application is meant to show customers our menu at Pizza Palace and provide an
        extensive list of customers signed up for our loyalty program.
    </p>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Menu Items</h2>
        <p>
            View our Menu<br />
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Loyalty List</h2>
        <p>A list of customer signed up for our loyalty program</p>
    </div>
</div>
<div class="row">
    <img src="~/images/pizza.jpg" alt="a pizza pie" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-6  shadow rounded-sm" />
    <img src="~/images/phone.jpg" alt="cell phone" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-6  shadow rounded-sm" />
</div>
